.player {
  transition: all 0.5s ease;
  transition-delay: 0.2s;
  width: 100%;
  min-width: 100%;
  height: 0px;
  position: absolute;
}

.player.show {
  height: 410px;
  transform: translateY(-410px);
}

.player-button {
  visibility: hidden;
  cursor: pointer;
}

.player-button.ready {
  visibility: visible;
}